In [1]:
from datetime import datetime
import time

def minutes_between(d1, d2):
    d1 = datetime.strptime(d1, "%Y-%m-%d %H:%M:%S")
    d2 = datetime.strptime(d2, "%Y-%m-%d %H:%M:%S")
    d1_ts = time.mktime(d1.timetuple())
    d2_ts = time.mktime(d2.timetuple())
    return (d2_ts - d1_ts) / 60

d1 = "2018-03-27 14:50:00"
d2 = "2018-03-28 18:05:00"

print (minutes_between(d1,d2) / 5)

327.0

In [2]:
from datetime import datetime
d = datetime(2018,3,10,10,45,10)
hostname = 'ip-1-2-3-4'
ip = '192.168.10.1'
user = 'lab_user_1'

In [3]:
template = '{:%b %d %H:%M:%S} {} sshd[1234]: Invalid user {} from {}'

In [4]:
template.format(d,hostname,ip,user)

'Mar 10 10:45:10 ip-1-2-3-4 sshd[1234]: Invalid user 192.168.10.1 from lab_user_1'

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
def create_time_index(start_date='22/3/2018 12:43:23',
                      end_date='30/3/2018',
                      period_minutes=120, #period in minutes
                      noise_minutes=10): #noise in minutes
    
    period_minutes=int(period_minutes)
    assert period_minutes>0
    
    noise_minutes = int(noise_minutes)
    #assert noise_minutes>0

    dates = pd.date_range(start_date,end_date,freq='{}T'.format(period_minutes))
    dates += pd.Series([pd.Timedelta(str(int(x))+'m') for x in np.random.normal(0, noise_minutes, dates.shape)])
    return dates

In [7]:
def create_time_index(start_date='22/3/2018 12:43:23',
                      end_date='30/3/2018',
                      period_minutes=120, #period in minutes
                      noise_minutes=10): #noise in minutes
    
    period_minutes=int(period_minutes)
    assert period_minutes>0
    
    noise_minutes = int(noise_minutes)
    assert noise_minutes>0

    dates = pd.date_range(start_date,end_date,freq='{}T'.format(period_minutes))
    dates += pd.Series([pd.Timedelta(str(int(x))+'m') for x in np.random.normal(0, noise_minutes, dates.shape)])
    return dates

In [8]:
def create_df(time_index,user='lab_user'):
    df = pd.DataFrame(user,columns=['user'],index=time_index)
    return df

In [9]:
every_24h_noisy = create_time_index('1/2/2016','14/2/2016',24*60,5*60)
df1 = create_df(every_24h_noisy,'lab_user24')

every_24h = create_time_index('1/2/2016','14/2/2016',24*60,10)
df2 = create_df(every_24h,'lab_user24b')

every_12h = create_time_index('1/2/2016','14/2/2016',12*60,60)
df3 = create_df(every_12h,'lab_user12')

every_1h = create_time_index('1/2/2016','14/2/2016',1*60,10)
df4 = create_df(every_1h,'lab_user1h')

In [12]:
every_12h = create_time_index('1/2/2016','3/3/2016',12*60,20)
df3 = create_df(every_12h,'lab_user12')

In [13]:
#all_dfs = pd.concat([df1,df2,df3,df4])
all_dfs = df3
all_dfs.sort_index(inplace=True)
all_dfs.head()

                           user
2016-01-01 23:53:00  lab_user12
2016-01-02 12:27:00  lab_user12
2016-01-03 00:16:00  lab_user12
2016-01-03 11:42:00  lab_user12
2016-01-04 00:45:00  lab_user12

In [14]:
with open('../../Programs/filebeat-6.2.2-windows-x86_64/authNew24.txt', 'w') as the_file:
    for index, row in all_dfs.iterrows():
        the_file.write(template.format(index,hostname,row[0],ip))
        the_file.write('\n')